SUBSYSTEMS=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="a1e5" RUN+="/bin/sh -c 'echo enabled > /sys$env{DEVPATH}/../power/wakeup'"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="a1e5", SYMLINK+="atreus", ENV{ID_MM_DEVICE_IGNORE}="1", ENV{ID_MM_CANDIDATE}="0"
